<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RTL.Properties.Settings.treningConnectionString" connectionString="server=db4free.net;port=3306;database=trening;user id=trening;password=treningRTL;oldguids=True;convertzerodatetime=True;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>